.App {
  font-family: sans-serif;
  text-align: center;

}

h1{
  background-color: yellow;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  margin-top: -22px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 40px;

}

input{

  width: 30%;
  min-height: 10vh;
  margin: 5px;
  margin-bottom: 20px;

}

#des{

  margin: 10px;
  font-size: 1.3rem;
}

h2{

margin: 20px;
margin-top: 50px;

}

#emojis{

padding: .5rem;
font-size: 2rem

}

